package views

import "github.com/gustavomtborges/orcamento-auto/views/layouts"

templ metaTags() {
	<meta name="description" content="Lista de orcamentos"/>
}

templ BiddingIndex() {
	@layouts.Base("Orçamento Auto - Orçamentos", metaTags()) {
		@layouts.SideBarCompany() {
			<div>orcamentos</div>
		}
	}
}
